In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('input.csv', header = None, names=['number'])
df.head()

   number
0    1706
1    1466
2    1427
3    1744
4    1684

In [14]:
len(df)

200

In [26]:
i = 0

for i in range(i, len(df)):
    j = i
    for j in range(i, len(df)):
        if df['number'][i] + df['number'][j] == 2020:
            num1 = df['number'][i]
            num2 = df['number'][j]
            print(num1)
            print(num2)
            print("multiply result = " + str(num1 * num2))
            break

1209
811
multiply result = 980499