In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('input.csv', header = None, names=['number'])
df.head()

   number
0    1706
1    1466
2    1427
3    1744
4    1684

In [3]:
len(df)

200

## Part 1

In [4]:
%%time
i = 0

for i in range(i, len(df)):
    j = i
    for j in range(i, len(df)):
        if df['number'][i] + df['number'][j] == 2020:
            num1 = df['number'][i]
            num2 = df['number'][j]
            print(num1)
            print(num2)
            print("multiply result = " + str(num1 * num2))
            break

1209
811
multiply result = 980499
CPU times: user 1.66 s, sys: 41.3 ms, total: 1.7 s
Wall time: 1.9 s

## Part 2

In [5]:
%%time
i = 0

for i in range(i, len(df)):
    j = i
    for j in range(j, len(df)):
        k = j
        for k in range(k, len(df)):
            if df['number'][i] + df['number'][j] + df['number'][k] == 2020:
                num1 = df['number'][i]
                num2 = df['number'][j]
                num3 = df['number'][k]
                print(num1)
                print(num2)
                print(num3)
                print("multiply result = " + str(num1 * num2 * num3))
                break

1198
373
449
multiply result = 200637446
CPU times: user 2min 22s, sys: 1.12 s, total: 2min 23s
Wall time: 2min 26s